<!-- <% for(var i=0; i < leads.length; i++) { %>
  <%=i+1%>:<%= leads[i].leadId %>:<%= leads[i].state %>
<% } %> -->

<!-- 

<div class="container">

  <div class="row">
    <div class="col-md-7">
      <table class="table table-bordered table-hover">
        <thead>
          <tr style="font-size:3vw">
            <th>N°</th>
            <th>Remedio</th>
            <th>Fecha</th>
            <th>Accion</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < leads.length; i++) { %>
            <tr >
              <td><%= i + 1%></td>
              <td ><strong><%= leads[i].leadId %></strong></td>
              <td ><%= leads[i].state %></td>

            </tr>
          <% } %>
        </tbody>
      </table>

    </div>
  </div>


  <div class="row">
        <div class="card-body">
          <form action="/getCale" method="get">
            <button class="btn btn-primary" type="submit">
              actualiza
            </button>
          </form>
          <form action="/stop" method="get">
            <button  class="btn btn-primary" type="submit">
              stop
            </button>
          </form>
    </div> 

</div> -->


<!DOCTYPE html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <style>
      /* body { background-color: rgba(248, 5, 159, 0.983); margin: 0; padding-bottom: 3rem; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; } */
      body { background-image: url('luces.gif')}

      #form { background: rgba(0, 0, 0, 0.15); padding: 0.25rem; position: fixed; bottom: 0; left: 0; right: 0; display: flex; height: 3rem; box-sizing: border-box; backdrop-filter: blur(10px); }
      #input { border: none; padding: 0 1rem; flex-grow: 1; border-radius: 2rem; margin: 0.25rem; }
      #input:focus { outline: none; }
      #form > button { background: #333; border: none; padding: 0 1rem; margin: 0.25rem; border-radius: 3px; outline: none; color: #fff; }
    
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages > li { padding: 0.5rem 1rem; }
      #messages > li:nth-child(odd) { background: #efefef; }
    </style>
  </head>
  
  <body>

    <ul id="messages"></ul>
    <script src="/socket.io/socket.io.js"></script>

    <!-- <% console.log('acato') %> -->
    
    <script>      
      var socket = io();
    </script>
    <script>      
      ///socket.emit('chat message', 'al inicio1');  
      let r=0
      socket.on('chat message', (msg)=> {
        {
          const ff = 'TT'+JSON.stringify(msg)+'GG'
   console.log('delphi',ff)
          var V1 = msg.split(':')[1].split(';')[0];
          var V2 = msg.split(':')[2].split(';')[0]; 
          var V3 = msg.split(':')[3].split(';')[0]; 
          var V4 = msg.split(':')[4].split(';')[0]; 
          var V5 = msg.split(':')[5].split(';')[0]; 
          var V6 = msg.split(':')[6].split(';')[0]; 
          var V7 = msg.split(':')[7].split(';')[0]; 
          var V8 = msg.split(':')[8].split(';')[0]; 
          var V9 = msg.split(':')[9].split(';')[0]; 
          var V10 = msg.split(':')[10].split(';')[0]; 
          var N1 = msg.split(':')[11].split(';')[0];
          var N2 = msg.split(':')[12].split(';')[0]; 
          var N3 = msg.split(':')[13].split(';')[0]; 
          var N4 = msg.split(':')[14].split(';')[0]; 
          var N5 = msg.split(':')[15].split(';')[0]; 
          var N6 = msg.split(':')[16].split(';')[0]; 
          var N7 = msg.split(':')[17].split(';')[0]; 
          var N8 = msg.split(':')[18].split(';')[0]; 
          var N9 = msg.split(':')[19].split(';')[0]; 
          var N10 = msg.split(':')[20].split(';')[0]; 
          
          document.getElementById("demo1").innerHTML = N1;
          document.getElementById("demo2").innerHTML = V1;
          document.getElementById("demo3").innerHTML = N2;
          document.getElementById("demo4").innerHTML = V2;
          document.getElementById("demo5").innerHTML = N3;
          document.getElementById("demo6").innerHTML = V3;
          document.getElementById("demo7").innerHTML = N4;
          document.getElementById("demo8").innerHTML = V4;
          document.getElementById("demo9").innerHTML = N5;
          document.getElementById("demo10").innerHTML = V5;
          document.getElementById("demo11").innerHTML = N6;
          document.getElementById("demo12").innerHTML = V6;
          document.getElementById("demo13").innerHTML = N7;
          document.getElementById("demo14").innerHTML = V7;
          document.getElementById("demo15").innerHTML = N8;
          document.getElementById("demo16").innerHTML = V8;
          document.getElementById("demo17").innerHTML = N9;
          document.getElementById("demo18").innerHTML = V9;
          document.getElementById("demo19").innerHTML = N10;
          document.getElementById("demo20").innerHTML = V10;
        }
          r=r+1
      });
      
    </script>
<!-- <img class="logo" src="http://localhost:3000/luces.gif" alt="My_Logo"> -->

<!-- <img src="luces.gif"  style="position:relative; left:0px; top:0px; width:160px; height: 200px;"/> -->

<!-- <div class="container">
  <img src="./luces.jpg" alt="Snow" style="width:100%;">
  <div class="bottom-left">Bottom Left</div>
  <div class="top-left">Top Left</div>
  <div class="top-right">Top Right</div>
  <div class="bottom-right">Bottom Right</div>
  <div class="centered">Centered</div>
</div> -->


<style>
/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size:80px;
    background-color: #fff9c9dd;
  }
  
  td, th {
    border: 11px solid #c32121;
    text-align: center;
    padding: 8px;
    font-size:80px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
    font-size:80px;
  }
  </style>


<div class="container">
  <img src="https://cahat2.onrender.com/luces.gif" alt="Snow" style="width:100%;">
  <div class="bottom-left">Bottom Left</div>
  <div class="top-left">Top Left</div>
  <div class="top-right">Top Right</div>
  <div class="bottom-right">Bottom Right</div>
  <div class="centered">Centered</div>
</div>


<h1 style="color:rgb(9, 255, 0);font-size:80px;">Festival Viña del Mar 2023</h1>
<table>
  <tr>
    <th style="color:rgb(0, 0, 0);font-size:60px;">Jurado</th>
    <th style="color:rgb(0, 2, 0);font-size:60px;">Voto</th>
  </tr>
  <tr>
    <td id="demo1" style="color:blue;font-size:80px;">*</td>
    <td id="demo2" style="color:blue;font-size:80px;">*</td>
  </tr>
  <tr>
    <td id="demo3" style="color:blue;font-size:80px;">*</td>
    <td id="demo4" style="color:blue;font-size:80px;">*</td>
  </tr>
  <tr>
    <td id="demo5" style="color:blue;font-size:80px;">*</td>
    <td id="demo6" style="color:blue;font-size:80px;">*</td>
  </tr>
  <tr>
    <td id="demo7" style="color:blue;font-size:80px;">*</td>
    <td id="demo8" style="color:blue;font-size:80px;">*</td>
  </tr>
  <tr>
    <td id="demo9" style="color:blue;font-size:80px;">*</td>
    <td id="demo10" style="color:blue;font-size:80px;">*</td>
  </tr>
  <tr>
    <td id="demo11" style="color:blue;font-size:80px;">*</td>
    <td id="demo12" style="color:blue;font-size:80px;">*</td>
  </tr>
  <tr>
    <td id="demo13" style="color:blue;font-size:80px;">*</td>
    <td id="demo14" style="color:blue;font-size:80px;">*</td>
  </tr>
  <tr>
    <td id="demo15" style="color:blue;font-size:80px;">*</td>
    <td id="demo16" style="color:blue;font-size:80px;">*</td>
  </tr>
  <tr>
    <td id="demo17" style="color:blue;font-size:80px;">*</td>
    <td id="demo18" style="color:blue;font-size:80px;">*</td>
  </tr>
  <tr>
    <td id="demo19" style="color:blue;font-size:80px;">*</td>
    <td id="demo20" style="color:blue;font-size:80px;">*</td>
  </tr>
</table>

  <!-- <strong><p style="color:blue;font-size:80px;" id="demo1"></p></body></strong>
  <strong><p style="color:blue;font-size:80px;" id="demo2"></p></body></strong>
  <strong><p style="color:blue;font-size:80px;" id="demo3"></p></body></strong>
  <strong><p style="color:blue;font-size:80px;" id="demo4"></p></body></strong>
  <strong><p style="color:blue;font-size:80px;" id="demo5"></p></body></strong>
  <strong><p style="color:blue;font-size:80px;" id="demo6"></p></body></strong>
  <strong><p style="color:blue;font-size:80px;" id="demo7"></p></body></strong>
  <strong><p style="color:blue;font-size:80px;" id="demo8"></p></body></strong>
  <strong><p style="color:blue;font-size:80px;" id="demo9"></p></body></strong>
  <strong><p style="color:blue;font-size:80px;" id="demo10"></p></body></strong> -->

</div>



  </body>
</html>
